<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shardacarpooling">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShardaCarPooling">
        <activity android:name=".monthly_booking.Booking_Details"></activity>
        <activity android:name=".Single_Day.Sikandrabad.si_book" />
        <activity android:name=".Single_Day.Sikandrabad.si_details" />
        <activity android:name=".Single_Day.Nodia.no_book" />
        <activity android:name=".Single_Day.Nodia.no_details" />
        <activity android:name=".Single_Day.Khurja.kh_book" />
        <activity android:name=".Single_Day.Khurja.kh_details" />
        <activity android:name=".Single_Day.Ghaziabad.gh_book" />
        <activity android:name=".Single_Day.Ghaziabad.gh_details" />
        <activity android:name=".Single_Day.Delhi.dl_book" />
        <activity android:name=".Single_Day.Delhi.dl_details" />
        <activity android:name=".Single_Day.Bulandshahr.bsr_details" />
        <activity android:name=".Single_Day.Bulandshahr.bsr_book" />
        <activity android:name=".Monthly_Data.Sikandrabad.si_show_details" />
        <activity android:name=".Monthly_Data.Sikandrabad.si_book" />
        <activity android:name=".Monthly_Data.Nodia.no_show_details" />
        <activity android:name=".Monthly_Data.Nodia.no_book" />
        <activity android:name=".Monthly_Data.Khurja.kh_show_details" />
        <activity android:name=".Monthly_Data.Khurja.kh_book" />
        <activity android:name=".Monthly_Data.Ghaziabad.gh_show_Details" />
        <activity android:name=".Monthly_Data.Ghaziabad.gh_book" />
        <activity android:name=".Monthly_Data.Delhi.delhi_show_details" />
        <activity android:name=".Monthly_Data.Delhi.delhi_book" />
        <activity android:name=".Monthly_Data.Bulandshahr.book_seat" />
        <activity android:name=".Monthly_Data.Bulandshahr.bsr_show_details" />
        <activity android:name=".Monthly_Data.Ghaziabad.Ghaziabad_Driver" />
        <activity android:name=".Monthly_Data.Bulandshahr.Bulandshahr_Driver" />
        <activity android:name=".Monthly_Data.city_select" />
        <activity android:name=".Monthly_Data.Sikandrabad.Sikandrabad_Driver" />
        <activity android:name=".Monthly_Data.Nodia.Nodia_Driver" />
        <activity android:name=".Monthly_Data.Khurja.Khurja_Driver" />
        <activity android:name=".Monthly_Data.Delhi.Delhi_Driver" />
        <activity android:name=".Single_Day.Sikandrabad.Sikandrabad_Single_driver" />
        <activity android:name=".Single_Day.Nodia.Nodia_Single_driver" />
        <activity android:name=".Single_Day.Khurja.Khurja_Single_driver" />
        <activity android:name=".Single_Day.Ghaziabad.Ghaziabad_Single_driver" />
        <activity android:name=".Single_Day.Delhi.Delhi_Single_driver" />
        <activity android:name=".Single_Day.Bulandshahr.Bulandshahr_Single_driver" />
        <activity android:name=".Single_Day.city_select_for_single_dr" />
        <activity android:name=".Monthly_Cab" />
        <activity android:name=".DandPselection" />
        <activity android:name=".Passenger_SingleORmonthly" />
        <activity android:name=".Driver_Selection_Page" />
        <activity android:name=".Driver" />
        <activity android:name=".Get_Started" />
        <activity android:name=".Login_Activity" />
        <activity android:name=".Intro_Page">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>